fastapi
uvicorn
transformers
torch
Pillow
requests
beautifulsoup4
click
MarkupSafe-3.0.2
annotated-types-0.7.0
anyio-4.9.0 
certifi-2025.4.26 
charset_normalizer-3.4.2 
filelock
fsspec
h11
hf-xet
huggingface-hub-0.33.0
idna-3.10 
jinja2-3.1.6 
mpmath-1.3.0 
networkx-3.5 
numpy-2.3.0
packaging-25.0
pydantic-2.11.6
pydantic-core-2.33.2
pyyaml-6.0.2
regex-2024.11.6
requests-2.32.4
safetensors-0.5.3
setuptools-80.9.0
sniffio-1.3.1
soupsieve-2.7
starlette-0.46.2
sympy-1.14.0
tokenizers-0.21.1
torch-2.7.1
tqdm-4.67.1
transformers-4.52.4
triton-3.3.1 
typing-extensions-4.14.0 
typing-inspection-0.4.1 
urllib3-2.4.0 
uvicorn-0.34.3
