fastapi
uvicorn
transformers
torch
Pillow
requests
beautifulsoup4
click
MarkupSafe
annotated-types
anyio
certifi
charset_normalizer
filelock
fsspec
h11
hf-xet
huggingface-hub
idna
jinja2
mpmath
networkx
numpy
packaging
pydantic
pydantic-core
pyyaml
regex
safetensors
setuptools
sniffio
soupsieve
starlette
sympy
tokenizers
tqdm
triton
typing-extensions
typing-inspection
urllib3
